@model TheDojoLeague.Models.Ninja
<a href="/">Home</a>
<div class="row">
    <div class="col">
        <h1 class="title">Registered Ninjas</h1>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Ninja Name</th>
                    <th scope="col">Home Dojo</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var ninja in ViewBag.Ninjas)
                    {
                        <tr>
                            <td><a href="/ninjas/@ninja.Id">@ninja.NinjaName</a></td>
                            <td><a href="/dojos/@ninja.dojo.Id">@ninja.dojo.DojoName</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col">
        <h1 class="title">Register a Ninja</h1>
        <form asp-controller="NinjaDojo" asp-action="RegisterNinja" method="post">
            <label asp-for="NinjaName"></label>
            <input asp-for="NinjaName">

            <label asp-for="NinjaLevel"></label>
            <select asp-for="NinjaLevel">
                @{
                    for(int i = 1; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>

            <label asp-for="DojoId"></label>
            <select asp-for="DojoId">
                @{
                    foreach(var dojo in ViewBag.Dojos)
                    {
                        <option value="@dojo.Id">@dojo.DojoName</option>
                    }
                }
                
            </select>

            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>

            <input type="submit" value="Add" class="button">
            
        </form>
    </div>
</div>